@charset "UTF-8";

* {
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont;
	color: #1B2149;
}

body {
	 background: #fafafc;
	 margin: 0;
}
 
h1 {
	font-size: 19px;
	font-weight: 500;
	width: 90%;
	margin-bottom: 24px;
} 

h3 {
	font-size: 17px;
	font-weight: 500;
	margin: 0;
}

 
.page {
	display: flex;
	width: 100%;

}

.left {
	display: flex;
	flex-direction: column;
	width: 70%;
	height: 100vh;
	padding: 130px 40px 0 40px;
	align-items: center;
}

.right {
	display: flex;
	flex-direction: column;	
	background-color: #f2f3f7;
	width: 30%;
	height: 100vh;
	padding: 130px 30px 0 30px;
}

.prodotti__container {
	display: flex; 
	flex-direction: column;
	width: 90%;
	height: auto;
}


.prodotto__cart {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 20px 20px 20px 0;
	margin-bottom: 20px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .05);
	border-radius: .75rem;
	background-color: #ffffff;
}

.prodotto__image {
	width: 200;
}
#productImage {
	width: 170px;
	height: auto;
}

.prodotto__details {
	display: flex;
	flex-direction: column;
	
} 
.prodotto__details p {
	font-size: 14px;
	font-weight: 300;
	line-height: 1.5;
}

.actions {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.quantity-select  {
	width: 60px;
	height: 35px;
	padding: 0 0 0 7px;
	background-color: #ecedef;
	border: none;
	border-radius: .32rem;
	margin-right: 10px;
	font-weight: 600;
}

#deleteForm button {
	border: 1.2px solid #b5271b;
	border-radius: .50rem;
	background-color: #ffffff;
	color: #b5271b;
	font-weight: 600;
	font-size: 14px;
	padding: 8px 16px 8px 16px;
}



.riepilogo__cart {
	display: flex; 
	flex-direction: column;
	width: 100%;
	height: auto;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .05);
	border-radius: .75rem;
	background-color: #ffffff;
}

.prodotto__riepilogo {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 20px 20px 20px 0;

}

#productImageRiep {
	width: 70px;
	height: auto;
}

.prodotto__details-rep {
	display: block;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}

.prodotto__details-rep p {
	font-size: 13px;
	margin: 0;
}

.riepilogo-totale {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-size: 16px;
	font-weight: 500;
	margin: 0 20px 0 20px;
}

#confermaOrdine {
	width: 100%;
	text-align: center; 
	margin: 10px 0 20px 0;
}
#confermaOrdine button {
	width: 90%;
	margin: auto;
	border-radius: .375rem;
	font-weight: 500;
	font-size: 15px;
	background-color: #1B2149;
	color: #ffffff;
	letter-spacing: 1px;
}
#confermaOrdine button:hover {
	background-color: #363975;
	color: #ffffff;
}