@charset "UTF-8";



* {
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont;
	
}

body {
	 background: #fafafc;
	 margin: 0;
}


/* HEADER */
.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	height: 85px;
	padding: 20px 30px 20px 30px;
	background-color: #ffffff;
	border-radius: 0 0 20px 20px;
	position: fixed;
	z-index: 1;
	top: 0;
}

.logo {
}

.logo img {
	width: 170px;
}

.menu {
	width: 30%;
}

.menu ul {
	margin: 0;
	padding-left: 4%;
}

.menu ul li {
	list-style: none;
	display: inline-block;
	padding: 10px;
}

.menu ul li a {
	color: #1B2149;
	text-decoration: none;
}

.menu ul li a:hover {
	color: #7B57DF;
}

.search {
	width: 20%;
	margin: 0 5% 0 0;
}

.search input {
	padding: 12px 25% 12px 10px;
	border: 0.1px solid lightgrey;
	border-radius: 10px;
}
 
.account {
	display:flex; 
	flex-direction: row; 
	justify-content: space-evenly;
	width: 15%;
}

#cart {
	width: 25px;
	margin-top: 5px;
}




/* Nascondi l'header mobile per default */
.header-mobile {
    display: none;
}
.logo-mobile {
	display: none;
}



