@charset "UTF-8";

* {
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont;
}
body {
	 background: #fafafc;
	 margin: 0;
}


.content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 200px;
}


.login-form {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	padding: 30px;
	border-radius: 20px;
	width: 40%;
	margin: 0 auto;
	box-shadow: 0px 0px 42px -10px rgba(0,0,0,0.1);
	background-color: white;
	border: 0.1px solid lightgrey;
}

.login-form h1 {
	margin: 0 auto;
	margin-bottom: 10px;
	letter-spacing: 1px;
	color: #1B2149;
}


form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 80%;
	margin: 0 auto;	/* per centrare il div*/
}

label {
	margin-bottom: 5px;
	font-size: 14px;
	display: block;
}

input {
	padding: 10px;
	border: 1px solid #DCDCDC;
	border-radius: 5px;
	display: block;
	font-size: 14px;
}

#login {
	background-color: #7d57de;
	margin: 35px 0 30px 0;
	border-radius: 5px;
	color: white;
	font-size: 17px;
	letter-spacing: 1px;
}



