@charset "UTF-8";

* {
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont;
	color: #1B2149;
}

body {
	 background: #fafafc;
	 margin: 0;
	 display: flex;
	 flex-direction: row;
}

.content {
	display: flex;
	flex-direction: column;
	margin-left: 20px;
	width: 100%;
}

.row-container{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 20px;
}

.row-container button {
	background-color: #7d57de;
	color: #ffffff;
}

.add-admin {
	width: 200px;
	margin-bottom: 30px;
}

.add-admin button{
	margin-top: 40px;
	width: 100%;
	padding: 9px;
	border-radius: .375rem;
	font-weight: 500;
	font-size: 15px;
	background-color: #1B2149;
	border: .1px solid #1B2149;
	color: #ffffff;
	letter-spacing: 1px;
	cursor: pointer;
}

.add-admin button:hover {
	background-color: #363975;
	border: .1px solid #1B2149;
	color: #ffffff;
}

#deleteForm button{
	background-color: #ffffff; 
	border: none;
	padding: 0;
	cursor: pointer;
}



.admins__storage{
	display: flex;
	flex-direction: column;
	margin: 20px;
	height: 100vh;
}

.add-admin {
	margin-left: 20px;
}

/* TABLE */
table {
	font-family: arial, sans-serif;
	border-collapse: collapse; /*per non avere spazio tra i bordi*/
	width: 100%;
	background-color: white;
	box-shadow: 0px 0px 42px -10px rgba(0, 0, 0, 0.1);
	border: 0.1px solid lightgrey;
	caption-side: bottom;
}

th {
	background-color: #efedfa;
}

th {
		border: 1px solid #dddddd;
}

td, th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
	height: 30px;
}

#azioni {
	display:flex; 
	border: none;
	border-top: 0.5px solid #dddddd;
}

.filtri {
	width: 95%;
	margin-left: 27px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}


@media screen and (max-width: 600px) {
	.content {
		margin: 0;
	}
	
    .table-adattabile thead {
        display: none;
    }

    .table-adattabile tbody, .table-adattabile tr, .table-adattabile td {
        display: block;
        width: 100%;
    }

    .table-adattabile tr {
        margin-bottom: 15px;
    }

    .table-adattabile td {
        text-align: center;
        position: relative;
    }

    .table-adattabile td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-weight: bold;
        text-align: left;
    }
    
    #azioni {
		display:flex;
		flex-direction: column;
		border: none;
		border-top: 0.5px solid #dddddd;
		height: 40px;
	}

   	.table-adattabile .emailAdmin {
   		background-color: #efedfa;
   		font-weight: 600;
    }
  
    
    #datetime {
    	display: none;
    }
}
