@charset "UTF-8";

* {
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont;
	color: #1B2149;
}

body {
	 background: #fafafc;
	 margin: 0;
	 display: flex;
	 flex-direction: row;
}

.header {
	height: 100vh;
	width: 300px;
	display: flex;
	flex-direction: column;
	background-color: #ffffff;
	border-radius: 0 20px 20px 0;
}

.logo {
	float: left;
	padding: 20px 0 30px 30px;
}

.logo img {
	width: 170px;
}

.menu {
	display: flex;
	flex-direction: column;
}

.menu ul {
	margin: 0;
}

.menu ul li {
	list-style: none;
	padding: 10px;
}

.menu ul li a {
	color: #1B2149;
	text-decoration: none;
}

.menu ul li a:hover {
	color: #7B57DF;
}


.menu-toggle {
	display: none;
	padding: 10px 30px;
	cursor: pointer;
}

.menu-toggle span {
	display: block;
	width: 25px;
	height: 2px;
	margin: 5px;
	background-color: #1B2149;
}


@media screen and (max-width: 839px) {
	body {
		flex-direction: column;
	}

	.header {
		width: 100%;
		height: auto;
		border-radius: 0;
	}

	.logo {
		padding: 20px;
		text-align: center;
	}

	aside {
		width: 100%;
		display: none; /* Nascondi i filtri di default */
	}

	.menu ul {
		flex-direction: column;
	}

	.menu ul li {
		padding: 15px;
		text-align: center;
	}

	.menu-toggle {
		display: block; /* Mostra l'icona del menu */
		text-align: center;
	}
	
	.menu.active {
		display: flex; /* Mostra il menu quando attivo */
	}

}
